{% extends "index.html" %}

{% block title %}Inscription - {% endblock %}

{% block content %}

<div class="w-full flex flex-col items-center">
    <div class="flex items-center justify-center w-full">
        <div class="w-300 h-1 bg-shadow"></div>
        <h2 class="text-center font-semibold text-28 text-nowrap px-20">Inscription</h2>
        <div class="w-300 h-1 bg-shadow"></div>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="flex items-center justify-center space-x-10 mt-50 mb-20">
            <div>
                {{ form.username.label_tag }}
            </div>
            <div>
                {{ form.username }}
            </div>
        </div>
        <div class="flex items-center justify-center space-x-10 mb-20">
            <div>
                {{ form.email.label_tag }}
            </div>
            <div>
                {{ form.email }}
            </div>
        </div>
        <div class="flex items-center justify-center space-x-10 mb-20">
            <div>
                {{ form.password1.label_tag }}
            </div>
            <div>
                {{ form.password1 }}
            </div>
        </div>
        <div class="flex items-center justify-center space-x-10 mb-20">
            <div>
                {{ form.password2.label_tag }}
            </div>
            <div>
                {{ form.password2 }}
            </div>
        </div>
        <div class="text-14 text-wrap text-red-800 max-w-500">
            {{ form.username.errors }}
            {{ form.email.errors }}
            {{ form.password1.errors }}
            {{ form.password2.errors }}
        </div>
        <div class="relative w-full flex justify-center  font-semibold h-50 mt-50">
            <button class="bg-buy border border-shadow absolute hover:mt-2 hover:ml-3 text-center py-10 px-50 rounded-10 transition-all duration-150" type="submit">S'inscrire</button>
            <div class="absolute -z-10 mt-7 ml-12 bg-shadow text-shadow text-center py-10 px-50 rounded-10">S'inscrire</div>
        </div>
    </form>
</div>

{% endblock %}